<p-growl [(value)]="msgs"></p-growl>
<!-- <pre>{{ cars || json }}</pre> -->
<div *ngIf="loading"  style="position: fixed ; top: 0px; left:  0px; width: 100%; z-index: 9999" >
    <p-progressBar mode="indeterminate" [style]="{'height': '6px' }"></p-progressBar>    
</div>
<p-confirmDialog></p-confirmDialog>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Danh sách các khóa học đã đăng</span>
        <span>Danh các khóa học bạn đã đăng trong thời gian gần đây.</span>
    </div>
</div>
<div style="margin: 0 5px 0 5px" >
    <p-dataTable [value]="danhSachKhoaHoc"  
 
    [responsive]="true"
    >
        <p-header>Danh sách</p-header>
        <p-column styleClass="col-button" >
            <ng-template pTemplate="header">
               Ảnh khóa học
            </ng-template>
            <ng-template let-khoahoc="rowData" pTemplate="body">
                   <img style="width: 80px; white-space: nowrap;
                   overflow: hidden;
                   text-overflow: ellipsis;" src="{{khoahoc.courseAvatar}}" >
            </ng-template>
        </p-column>
        
        <p-column field="courseTitle" header="Tên khóa học" [sortable]="true"></p-column>
        <p-column field="courseDescription" header="Mô tả khóa học "></p-column>
        <p-column field="status" header="Chủ đề" >
            <ng-template let-col let-khoahoc="rowData" pTemplate="body">
                <!-- <span >{{khoahoc[col.field].topic.topicName }}</span> -->
              
                <p-inplace>
                    <span pInplaceDisplay>
                      <a>   <span class="fa fa-eye"> Xem chi tiết Chủ đề </span>  </a><br><span style="margin-left:8px">
                            <pre> {{ khoahoc.topic.topicName  }}</pre>
                        </span>
                    </span>
                    <span pInplaceContent>
                            <p-fieldset legend="Mô tả chủ đề" [toggleable]="true">
                                    {{ khoahoc.topic.topicDescription }} 
                                        </p-fieldset>
                          
                    </span>
                </p-inplace>

            </ng-template>
        </p-column>
        <p-column styleClass="col-button" >
            <ng-template pTemplate="header">
               Hành động 
            </ng-template>
            <ng-template let-khoahoc="rowData" pTemplate="body">
                    <button type="button" class="ui-button-danger" pButton (click)="thaoTacXoa(khoahoc)" icon="fa fa-trash-o">
                           
                    </button>

                    <button type="button" pButton (click)="thaoTacCapNhap(khoahoc)" icon="fa fa-eye">
                            
                     </button>
            </ng-template>
        </p-column>
    </p-dataTable>
<p-paginator rows="{{size}}"  totalRecords="{{totalRow}}" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20, 100]" ></p-paginator>

    
    </div>
