<!-- <pre> {{ listChuDe2 | json }} </pre> -->
<div class="content-section introduction"  style="padding: 2%;">
        <div>
            <span class="feature-title" style="margin-bottom: 0;">Quản lý chủ đề</span>
        </div>
</div>
<p-growl [(value)]='message'></p-growl>
<p-dataTable [value]="listTopic2">
    <p-header>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </p-header>
    <p-column field="topicID" header="Mã chủ đề"></p-column>
    <p-column field="topicName" header="Tên"></p-column>
    <p-column field="topicDescription" header="Mô tả">
        <ng-template let-col let-topic="rowData" pTemplate="body">
            <span [innerHTML]="topic[col.field]"></span>
        </ng-template>
    </p-column>
    <p-column field="topicStatus" header="Trạng thái">
        <ng-template let-col let-trangthai="rowData" pTemplate="body">
            <span >{{(trangthai[col.field] === 1 )? 'Đã duyệt':'Chưa duyệt'}}</span>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-cogs"></button>
        </ng-template>
        <ng-template let-topic2="rowData" pTemplate="body">
            <button type="button" (click)="editTopic(topic2)" pButton icon="fa-edit" class="ui-button-warning"></button>
            <button type="button" pButton icon="fa-trash-o" class="ui-button-danger"></button>
        </ng-template>
    </p-column>
</p-dataTable>
<p-paginator (onPageChange)="paginate($event)" rows="{{size}}" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
<p-dialog header="{{dialogHeader}}" [(visible)]="displayDialogTopic">
    <div *ngIf="topic2">
        <table>
            <tr *ngIf="!newTopic">
                <td>Mã chủ đề</td>
                <td><input [disabled]="true" [(ngModel)] = "topic2.topicID" /></td>
            </tr>
            <tr>
                <td>Tên chủ đề</td>
                <td><input [(ngModel)] = "topic2.topicName" type="text"/></td>
            </tr>
            <tr>
                <td>Mô tả</td>
                <td><p-editor [(ngModel)]="topic2.topicDescription" [style]="{'height':'220px'}"></p-editor></td>
            </tr>
            <tr>
                <td>Trạng thái</td>
                <td><input type="text" [(ngModel)]="topic2.topicStatus"/></td>
            </tr>
            <tr>
                <button pButton type="button" (click)="saveTopic()" label="Lưu" class="ui-button-success"></button>
                <button pButton type="button" (click)="displayDialogTopic = !displayDialogTopic" label="Hủy" class="ui-button-warning"></button>
            </tr>
        </table>
    </div>
</p-dialog>